{% extends 'inc/base.html.twig' %}
{% block title %}
	Editar Produto
{% endblock %}
{%block body %}

	{{form_start(form)}}
	{{form_widget(form)}}
	{{form_end(form)}}

	<div id="hidTags" class="hidden">
	{% for tag in tags %}
		{{tag}},
	{% endfor %}
</div>

{% endblock %}

{% block javascripts %}


<script src="../../js/pullTags.js"></script>
{% endblock %}

