{% extends 'inc/base.html.twig' %}
{% block title %}
	Produtos
{% endblock %}

{%block body %}
	<h1>{{product.title}}</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>{{product.description}}</p>
				<a href="javascript:buy()" class="btn btn-light form-control mt-auto">Buy</a>
			</div>
			<div class="col">
				{% for img in images %}

					<figure class="figure">
						<img  src="../{{img.path}}"/>
						<figcaption class="figure-caption prod-label">{{img.title}}</figcaption>
					</figure>
				{% endfor %}
			</div>
		</div>
		<hr>
		<a href="../">Go back</a>
	{% endblock %}
