{% extends 'base.html.twig' %}
{% block title %}
	Produtos
{% endblock %}

{%block body %}
	<h1>{{product.title}}</h1>
<p>{{product.description}}</p>

{% for img in images %}

	<img width=200 src="../{{img.path}}"/>
	<label>{{img.title}}</label>
{% endfor %}
<hr>
<a href="../">Voltar</a>
{% endblock %}
